@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: 'Zian';
  src: url('../lib/fonts/Zian/Zian\ free\ promo.ttf');
}
 @font-face {
  font-family: 'Source Sans 3';
  src: url('../lib/fonts/SourceSans/SourceSans3-VariableFont_wght.ttf');
 }


 /* scrollbar hide */
 @layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
  }
}

 

.star {
  position: absolute;
  background-color: #fff;
  width: 2px;
  height: 10px;
  opacity: 0.7;
  animation: fall linear infinite;
}

@keyframes fall {
  to {
      transform: translateY(100vh);
  }
}